@model ASPCore_Final.Models.Loai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết loại HH</h2>

<div>
    <h4>Loai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLoai" class="btn btn-primary">Sửa</a> |
    <a asp-action="Index" class="btn btn-primary">Trở lại</a>
</div>
