@model List<ASPCore_Final.Models.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Giỏ hàng</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
    <div class="container">
        @if (Context.Session.Get<string>("ErrorGH") != null)
        {
            string loi = Context.Session.Get<string>("ErrorGH");
        <div class="alert alert-danger">@loi</div>
        }
            <br />
        @if (Model != null)
        {
            <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Giỏ hàng chứa : <span>@Model.Count()</span> mặt hàng</h3>
            <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
                <table class="timetable_sub" align="center">
                    <thead>
                        <tr>
                            <th>Mã hàng hóa</th>
                            <th>Sản phẩm</th>
                            <th>Kích cỡ</th>

                            <th>Tên sản phẩm</th>
                            <th align="center">Số lượng</th>
                            <th>Giá bán</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                    <tr class="rem1 row-item">
                        <td class="invert" width="70px;">@i</td>
                        <td class="invert-image" width="150px;"><a asp-action="ChiTiet" asp-controller="HangHoa" asp-route-mahh="@item.MaHh"><img src="~/HangHoa/@item.Hinh" alt=" " class="img-responsive" /></a></td>
                        <td class="invert" width="50px;">@item.KichCo</td>

                        <td class="invert">@item.TenHh</td>
                        @*<form asp-action="CapNhatSL" asp-controller="GioHang" id="formSoluong_@i" method="get">*@
                      
                            
                        <td class="invert" width="150px;" align="center" valign="middle">
                            <div class="quantity-select">
                                <input type="hidden" id="mahh" name="mahh" value="@item.MaHh" />
                                <input type="hidden" id="kichco" name="kichco" value="@item.KichCo" />
                                <input class="entry value" style="height:35px;" type="number" min="1" step="1" id="soluongmoi" name="soluongmoi" value="@item.SoLuong"  />
                            </div>
                        </td>

                        @*</form>*@
                        @{
                            i++;
                        }
                        <td class="invert">@item.GiaBan.ToString("#,##0") đ</td>
                        <td class="invert">
                            <div class="rem">
                                <div><a asp-action="XoaCartItem" asp-controller="GioHang" asp-route-cartitemhh="@item.MaHh" asp-route-cartitemkichco="@item.KichCo" class="close1"></a></div>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
                
            </div>
            <div class="checkout-left">
                <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                    <h4>THÔNG TIN GIỎ HÀNG</h4>
                    @{
                        double tongtien = 0;
                        double phivanchuyen = 35000;
                    }
                    <script>

                    $(function () {
                        $("input[type='number']").change(function () {
                            var currentSoLuongMoi = $(this);
                            var currentMaHH = $(currentSoLuongMoi.siblings("input[name='mahh']")[0]);
                            var currentKichCo = $(currentSoLuongMoi.siblings("input[name='kichco']")[0]);
                            var mahh = currentMaHH.val();
                            var kichco = currentKichCo.val();
                            var soluongmoi = currentSoLuongMoi.val();
                            UpdateSL(mahh, kichco, soluongmoi);
                        });
                    });

                    function UpdateSL(mahh, kichco, soluongmoi) {
                        //console.log(mahh);
                        //console.log(soluongmoi);
                        //console.log(kichco);
                        $.ajax({
                            url: "/GioHang/CapNhatSL",
                            type: "GET",
                            contentType: "application/json; charset=utf-8",

                            data: { "mahh": mahh, "kichco": kichco, "soluongmoi": soluongmoi },
                            async: true,
                            success: function (data) {
                                //console.log('success');
                                //console.log(data);
                                $("ul.dschitiet").html('');
                                var tongtien = 0;
                                var soluong = 0;
                                for (var i = 0; i < data.length; i++) {
                                    var currentItem = data[i];
                                    tongtien += currentItem['giaBan'] * currentItem['soLuong'];
                                    soluong += currentItem['soLuong'];
                                    $("ul.dschitiet").append("<li>" + currentItem['tenHh'] + "<i>-</i><span>" + currentItem['soLuong'] + "<i>x</i>" + currentItem['giaBan'].toLocaleString() + " đ</span></li>");
                                }
                                $("ul.dschitiet").append('<li style="color:seagreen;border-top:groove;font-size:15px;"> <form asp-action="CheckVoucher" asp-controller="GioHang" method="post"><input type="submit" name="check" value="Nhập lại" class="btn btn-primary" /><br /><span id="voucherif"></span><br/><input type="hidden" name="tongtien" value="@tongtien"/></form></li>');
                                $("ul.dschitiet").append('<li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG ĐƠN HÀNG<i></i><span>' + tongtien.toLocaleString() + ' đ</span><br/><br/>GIẢM GIÁ<i></i><span></span><br /><br />PHÍ VẬN CHUYỂN : <i></i><span>@phivanchuyen.ToString("#,##0") đ</span></li>');
                                tongtien += 35000;
                                $("ul.dschitiet").append('<li style="color:seagreen;border-top:groove;font-size:20px;">TỔNG THANH TOÁN <i>-</i><span>' + tongtien.toLocaleString() + ' đ</span></li>');
                                $("div.total span.tong").html(tongtien.toLocaleString() + ' đ');
                                $("div.total span.soluong").html(soluong.toLocaleString());
                            }

                        });
                    }


                    </script>
                    <ul class="dschitiet">
                        @foreach (var item in Model)
                        {

                            <li>@item.TenHh<i>-</i><span>@item.SoLuong<i>x</i>@item.GiaBan.ToString("#,##0") đ</span></li>
                            tongtien = tongtien + item.ThanhTien;
                            <br />
                        }
                         <li style="color:seagreen;border-top:groove;font-size:15px;">
                            <form asp-action="CheckVoucher" asp-controller="GioHang" method="post">
                                <input type="text" id="magiamgia" name="magiamgia" value="" style="padding:5px;" placeholder="Mã giảm giá..." />
                                @{
                                    if (Context.Session.Get<string>("voucherIf") != null)
                                    {
                                        string voucherIf = Context.Session.Get<string>("voucherIf");
                                        <input type="submit" name="check" value="Kiểm tra" class="btn btn-primary" /><br /><span id="voucherif">@voucherIf</span><br /><br/>
                                    }
                                    else
                                    {
                                        <input type="submit" name="check" value="Kiểm tra" class="btn btn-primary" /><br /><span id="voucherif"></span><br />
                                    }
                                }
                                <input type="hidden" name="tongtien" value="@tongtien" />
                            </form>
                        </li>
                        @if (Context.Session.Get<string>("SoTienGiam") != null)
                        {
                            double tiengiam = Context.Session.Get<double>("SoTienGiam");
                            double phantramgiam = Context.Session.Get<double>("PhanTramGiam");
                            if (tongtien == tiengiam / phantramgiam)
                            {
                                double tongthanhtoan = tongtien - tiengiam;
                                Context.Session.Remove("SoTienGiam");
                                Context.Session.Remove("PhanTramGiam");
                                Context.Session.Remove("voucherIf");
                                <li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG ĐƠN HÀNG <i></i><span>@tongtien.ToString("#,##0") đ</span><br /><br />GIẢM GIÁ : <i></i><span>@tiengiam.ToString("#,##0") đ</span><br /><br />PHÍ VẬN CHUYỂN : <i></i><span>@phivanchuyen.ToString("#,##0") đ</span></li>
                                tongthanhtoan += phivanchuyen;
                                <li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG THANH TOÁN : <i></i><span>@tongthanhtoan.ToString("#,##0") đ</span></li>
                            }
                            else
                            {
                                <li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG ĐƠN HÀNG <i></i><span>@tongtien.ToString("#,##0") đ</span><br /><br />GIẢM GIÁ : <i></i><span id="giamgia"></span><br /><br />PHÍ VẬN CHUYỂN : <i></i><span>@phivanchuyen.ToString("#,##0") đ</span></li>
                                tongtien += phivanchuyen;
                                <li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG THANH TOÁN : <i></i><span>@tongtien.ToString("#,##0") đ</span></li>
                            }
                        }
                        else
                        {
                            
                             <li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG ĐƠN HÀNG <i></i><span>@tongtien.ToString("#,##0") đ</span><br /><br />GIẢM GIÁ : <i></i><span id="giamgia"></span><br /><br />PHÍ VẬN CHUYỂN : <i></i><span>@phivanchuyen.ToString("#,##0") đ</span></li>
                            tongtien += phivanchuyen;
                             <li style="color:seagreen;border-top:groove;font-size:15px;">TỔNG THANH TOÁN : <i></i><span>@tongtien.ToString("#,##0") đ</span></li>
                        }

                    </ul>
                </div>
                <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                    <a asp-action="Index" asp-controller="HangHoa"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp tục mua hàng</a>
                </div>
                <div class="clearfix"> </div>
                <br />
                <!--  Hiệu ứng accordion -->
                <script src="~/css/style.css"></script>
                <script>
                    $(function () {
                        $('.ndmotkhoi').slideUp();
                        $('.motkhoi h3').click(function (event) {
                            $(this).next('.ndmotkhoi').slideToggle();
                            $(this).toggleClass("xanh");
                         });
                         });
                </script>
                <div class="hieuung" style="font-weight:300px">
                    <div class="motkhoi">
                        <h3 class="btn btn-success" style="margin:auto;display:block;margin:auto">THANH TOÁN GIỎ HÀNG</h3>
                        <div class="ndmotkhoi">
                            @if (Context.Session.Get<KhachHang>("user") != null)
                            {
                                KhachHang kh = Context.Session.Get<KhachHang>("user");
                                <form asp-action="TaoHoaDon" asp-controller="GioHang" method="post">
                                    @if (Context.Session.Get<string>("mavc") != null)
                                    {
                                        string mavc = Context.Session.Get<string>("mavc");
                                        <input type="hidden" name="magiamgia" value="@mavc" class="form-control" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="magiamgia" value="" class="form-control" />
                                    }
                                    <input type="hidden" name="makh" value="@kh.MaKh" class="form-control" />
                                    <br />

                                    <div style="display:inline">
                                        <label>Họ và tên khách hàng</label>
                                        <input type="text" name="hotenkh" value="@kh.HoTen" class="form-control" />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Địa chỉ</label>
                                        <input type="text" name="diachi" value="@kh.DiaChi" class="form-control" />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Họ và tên người nhận</label>
                                        <input type="text" name="hoten_ngnhan" value="" class="form-control" required />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Địa chỉ người nhận</label>
                                        <input type="text" name="dc_nguoinhan" value="" class="form-control" required />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Số điện thoại người nhận</label>
                                        <input type="text" name="sdt" value="" class="form-control" required />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Ghi chú</label>
                                        <input type="text" name="ghichu" value="" class="form-control" />
                                    </div>
                                    <br />
                                    <div style="text-align:center">
                                        <button class="btn btn-success" type="submit">Xác nhận và kiểm tra email</button>
                                    </div>
                                </form>
                                <br />
                            }
                            else
                            {
                                <form asp-action="TaoHoaDonBT" asp-controller="GioHang" method="post">
                                    @if (Context.Session.Get<string>("mavc") != null)
                                    {
                                        string mavc = Context.Session.Get<string>("mavc");
                                        <input type="hidden" name="magiamgia" value="@mavc" class="form-control" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="magiamgia" value="" class="form-control" />
                                    }

                                    <div style="display:inline">
                                        <label>Email</label>
                                        <input type="text" name="email" value="" class="form-control" required />
                                    </div>
                                    <br />

                                    <div style="display:inline">
                                        <label>Họ và tên người nhận</label>
                                        <input type="text" name="hoten_ngnhan" value="" class="form-control" required />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Địa chỉ người nhận</label>
                                        <input type="text" name="dc_nguoinhan" value="" class="form-control" required />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Số điện thoại người nhận</label>
                                        <input type="text" name="sdt" value="" class="form-control" required />
                                    </div>
                                    <br />
                                    <div style="display:inline">
                                        <label>Ghi chú</label>
                                        <input type="text" name="ghichu" value="" class="form-control" />
                                    </div>
                                    <br />
                                    <div style="text-align:center">
                                        <button class="btn btn-success" type="submit">Xác nhận và kiểm tra email</button>
                                    </div>
                                </form>
                                <br />
                            }
                            
                        </div>
                    </div>
                </div>
                <br />
                @if (Context.Session.Get<string>("mess") != null)
                {
                    var mess = Context.Session.Get<string>("mess");
                    <div style="text-align:center"><label class="alert alert-info">@mess</label></div>
                }
            </div>
        }
        else
        {
            <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Giỏ hàng chứa : <span>0 sản phẩm</span></h3>
            <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Mã hàng</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="checkout-left">
                <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                    <h4>Thanh toán</h4>
                </div>
                <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                    <a asp-action="Index" asp-controller="HangHoa"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp tục mua hàng</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    </div>
</div>
<!-- //checkout -->
