
@model ReflectionIT.Mvc.Paging.PagingList<ASPCore_Final.Models.KhachHang>
@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4">Danh sách khách hàng</h4>
    <form method="get" class="form-inline">
        <input name="searchString" class="form-control" placeholder="Search..."
               value="@Model.RouteValue["searchString"]" />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
        </button>
    </form>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TaiKhoan)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.HoTen)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DienThoai)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.LoaiKH)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TrangThaiHd)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="_delete(@item.MaKh, event)">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.TaiKhoan)
                    </td>

                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>

                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.DienThoai)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td scope="row">
                        @Html.Raw(item.LoaiKH == true ? "<strong>KH thân thiết</strong>" : "KH thường")
                    </td>

                    <td scope="row">
                        <a asp-action="ChangeStatus" asp-route-id="@item.MaKh" class="btn-active"> @Html.Raw(item.TrangThaiHd == true ? "<strong>True</strong>" : "False")</a>
                    </td>
                    <td scope="row">

                        <a asp-action="Details" asp-route-id="@item.MaKh" class="btn btn-primary">Xem chi tiết</a>
                        <button type="button" class="btn btn-primary btn-delete">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        function _delete(id, ev) {
            if (ev.target.className == 'btn btn-primary btn-delete') {
                console.log(ev.target);
                console.log(ev.currentTarget);
                var cf = confirm('Bạn có muốn xoá khách hàng ID: ' + id + '?');
                if (cf) {
                    $(ev.currentTarget).fadeOut();
                    $.ajax({
                        url: '/api/KhachHangs/' + id,
                        type: "Delete",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: true,
                        success: function (result) {
                            alert("Xoá khách hàng thành công");
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                }
            }
        }
    </script>
    <nav class="navbar-default justify-content-center">

        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model, @searchString = @ViewBag.SearchString, @class = "page-item" })

    </nav>
</div>
